<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="<%=_product.imagePath%>" alt="..." /></div>
<div class="col-md-6">

  <div class="small mb-1">
    <%=_product.sku%>
  </div>
  <h1 class="display-5 fw-bolder">Shop item template</h1>
  <div class="fs-5 mb-5">
    <span class="text-decoration-line-through">
      <%=_product.regularPrice%>
    </span>
    <span>
      <%=_product.price%>
    </span>
  </div>
  <p class="lead">
    <%=_product.description%>
  </p>
  <div class="d-flex">
    <button class="btn btn-outline-dark flex-shrink-0" type="button">
      <i class="bi-cart-fill me-1"></i>
      Agregar al carrito
    </button>
  </div>
</div>
